@import "colors";
@import "functions";
@import "queries";

#game-wrapper {
  display: flex;
  flex-direction: column;
  @include xx-width {
    flex-direction: row;
  }
  .secondary-content {
    @include xl-width {
      position: absolute;
      right: 1rem;
    }
  }
}

#game{
  cursor: default;
  .square {
    box-sizing: border-box;
    flex: 0 0 12.5%;
    height: 12.5%;
  }

  .player-card {
    margin: 1.5rem 0;
    background-color: $dark-2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .waiting {
      justify-content: center;
      font-style: italic;
    }
    .sit-btn {
      margin: -0.5rem 0;
    }
  }
}
